misc_no_git/mesured_data_time_axis.csv
misc_no_git/proposal_logs_2.csv
misc_no_git/trained_mode_small_1.pth
misc_no_git/trained_mode_small_2.pth
misc_no_git/trained_mode_teleskop_.pth
misc_no_git/trained_mode_teleskop_1.pth
misc_no_git/trained_mode_teleskop_2.pth
misc_no_git/trained_mode_teleskop2_1.pth
misc_no_git/trained_mode_teleskop3_1.pth
misc_no_git/trained_mode2_1.pth
misc_no_git/trained_mode2_2.pth
misc_no_git/trained_mode2_3.pth
misc_no_git/trained_mode2_4.pth
misc_no_git/trained_mode2_5.pth
misc_no_git/trained_mode2_6.pth
misc_no_git/trained_model.pth
misc_no_git/trained_model1.pth
misc_no_git/trained_model3.pth
misc_no_git/trained_model4.pth
misc_no_git/trained_model5.pth
